@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

body {
    font-family: "Cal Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A2226; /* Stejné pozadí jako login box */
    padding: 15px 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); /* Přidán stín */
}

.navbar .logo a {
    text-decoration: none;
    color: #ECF0F5; /* Světlý text */
    font-size: 1.8em;
    font-weight: normal;
    letter-spacing: 1px; /* Přidáno mezery mezi písmeny */
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .nav-links li {
    margin: 0 15px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: #ECF0F5; /* Světlý text */
    font-size: 1.5em;
    font-weight: normal;
    letter-spacing: 1px; /* Přidáno mezery mezi písmeny */
    transition: color 0.3s, transform 0.3s; /* Plynulý přechod */
}

.navbar .nav-links a:hover {
    color: #0DB8DE; /* Modrá barva při hoveru */
    transform: scale(1.1); /* Zvětšení při hoveru */
}

.content {
    padding: 20px;
}